{% extends "base.html" %}

{% block body%}
<div class="container-contact100">
	<div class="wrap-contact100">
		<div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
			<span class="contact100-form-title-1">
				Celebration Of Hope
			</span>

			<span class="contact100-form-title-2">
				Response Form
			</span>
		</div>

		<form class="contact100-form validate-form">
			<div class="wrap-input100 validate-input" data-validate="Name is required">
				<span>Given name:</span>
				<input class="input100" type="text" name="name" placeholder="Enter name">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Surname is required">
				<span>Surname:</span>
				<input class="input100" type="text" name="surname" placeholder="Enter surname">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100">
				<span>Gender:</span>
				<input type="radio" name="gender" value="male" checked> Male
			  	<input type="radio" name="gender" value="female"> Female
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please enter phone number">
				<span>Phone number:</span>
				<input class="input100" name="phone_no" placeholder="Enter phone number"></input>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please enter valid email address">
				<span>Email address:</span>
				<input class="input100" name="email" placeholder="Enter email address"></input>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please enter postal code">
				<span>Postal code:</span>
				<input class="input100" name="postal_code" placeholder="Enter postal code"></input>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please select age group">
				<span>Age group:</span>
				<select class="input100 browser-default custom-select" name="age_group">
					<option value="A" selected>6 years old and below</option>
					<option value="B">7-12 years</option>
					<option value="C">13-16 years</option>
					<option value="D">17-25 years</option>
					<option value="E">26-35 years</option>
					<option value="F">36-49 years</option>
					<option value="G">50-64 years</option>
					<option value="H">65 years old and above</option>
				</select>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please select decision made">
				<span>Decision made:</span>
				<select class="input100 browser-default custom-select" name="decision_made">
					<option value="A" selected>I just prayed to receive Jesus Christ</option>
					<option value="B">I just rededicated my life to Jesus Christ</option>
					<option value="C">I am interested to find out more about Jesus Christ</option>
					<option value="D">I would like to join a Church</option>
					<option value="E">Others</option>
				</select>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please select rally attended">
				<span>Which rally did you attend:</span>
				<select class="input100 browser-default custom-select" name="rally_attended">
					<option value="A" selected>Friday, 17 May (7.30pm English)</option>
					<option value="B">Saturday, 18 May (10.30am Children &#38; Families)</option>
					<option value="C">Saturday, 18 May (7.30pm Chinese)</option>
					<option value="D">Saturday, 18 May (7.30pm Tamil)</option>
					<option value="E">Sunday, 19 May (10.30am Filipino/English)</option>
					<option value="F">Sunday, 19 May (2pm Hindi)</option>
					<option value="G">Sunday, 19 May (7.30pm English)</option>
				</select>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please select preferred language">
				<span>Preferred language:</span>
				<select class="input100 browser-default custom-select" name="preferred_language">
					<option value="English" selected>English</option>
					<option value="Mandarin">Mandarin &#21326;&#35821;</option>
					<option value="Tamil">Tamil, Telugu, Kannada, Malayalam</option>
					<option value="Hindi">Hindi, Bengali, Gujarati, Punjabi, Urdu..</option>
					<option value="Tagalog">Tagalog</option>
					<option value="Indonesian">Bahasa Indonesian</option>
					<option value="Children">Sunday School (Children)</option>
				</select>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input">
				<span>Name of person who invited you (if applicable):</span>
				<input class="input100" name="person_who_invited" placeholder="Enter name of person"></input>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input">
				<span>Church of person who invited you (if applicable):</span>
				<select class="input100 browser-default custom-select" name="church_of_person_who_invited">
					<option selected>N.A.</option>
					{% for each_church in churches %}
						<option value="{{each_church}}">{{each_church}}</option>
					{% endfor %}
				</select>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input">
				<span>Comments:</span>
				<textarea class="input100" name="message" placeholder="Enter comments" name="comments"></textarea>
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn" onclick="post_form()">
					<span>
						Submit
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
		</form>
	</div>
</div>

<div id="dropDownSelect1"></div>

{% block scripts %}
<script src="{{url_for('static', filename='js/form-custom.js')}}"></script>
{% endblock %}
{% endblock %}